<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <% /* Favicons for different devices */ %>
        <link href="<%= assetsHost %>/img/favicon/favicon.png" rel="shortcut icon" type="image/x-icon"/>
        <link href="<%= assetsHost %>/img/favicon/apple-touch-icon.png" rel="apple-touch-icon"/>


        <meta name="theme-color" content="#ffffff">
        
        <title>Beacon</title>

        <script type="text/javascript">
            window.assetsHost = '<%= assetsHost %>';
            window.version = Number('<%= version %>');
        </script>

        <%- include('./partials/styles'); %>
        <%- include('./partials/head-scripts'); %>



    </head>
    <%# <body class="toggled">%>
    <body class="toggled sw-toggled">

      <div id="app"></div>

    <%- include('./partials/scripts'); %>

    </body>
  </html>
